@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



body{
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(imagenes/Kimetsu.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; 
}
.menu{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.logo-img {
    width: 60px; 
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}


.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #ce967b;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #ebad8b;
}

.MoraNuts {
    padding: 100px 0;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7), 
        rgba(255, 254, 255, 0.7)
      ), url(imagenes/peaksito.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.MoraNuts-content{
    text-align: center;
}

.MoraNuts-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 150px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.MoraNuts-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.MoraNuts-1{
padding: 0 25px;
}

.MoraNuts-1 img{
    width: 200px;
}

.MoraNuts-img{
    position: absolute;
    top: 0;
    right: 0;
}

.MoraNuts-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.Servicio{
    background-image: linear-gradient(
         rgba(255, 247, 247, 0.7), 
         rgba(255, 255, 255, 0.7)),
         url(imagenes/fondo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.Servicio-content{
    text-align: center;
}

.Servicio-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.Servicio-content p{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 50px;
    padding: 0 100px;
}

.Servicio-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Servicio-1{
    padding: 0 100px;
}

.Servicio-1 img{
    width: 25px;
    margin-bottom: 15px;
}

.Servicio-1 h3{
    color: #eaccb3;
    font-size: 18px;
}

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2{
    background-image: url(imagenes/Lana\ Del\ Rey.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3{
    background-image: url(imagenes/Billie1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog{
    padding: 100px 0;
    text-align: center;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    padding: 15px 55px;
}

.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3{
    font-size: 25px;
    color: #323337;
}


.footer{
    padding: 80px 0;
    background-color: #b4b4b4;
}
.socials img{
    width: 60px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;
}

.link a{
font-size: 16px;
color: #c5c5c5;
display: block;
margin-bottom: 15px;
}

@media(max-width:911px){
    .menu{
        padding: 30px;
    }
.menu label{
    display: initial;
}
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

    .MoraNuts{
        padding: 30px;
    }

    .MoraNuts-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .MoraNuts-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .MoraNuts-img{
        display: none;
    }

    .Servicio{
        padding: 30px;
    }

    .Servicio-content p{
        padding: 0;
    }

    .Servicio-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .Servicio-1{
        margin-bottom: 25px;
    }

    .general{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }

    .blog{
        padding: 30px;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }



}